<%- include('../partials/head.ejs')  %>

<body>

    <%- include("../partials/header.ejs")  %>

    <main>
        <h1>PAGINA NUEVA</h1>
        
        <section class="game">
            <h2>Memory Game</h2>
            
            <table>
                <tr>
                    <td><button id="0">asd</button></td>
                    <td><button id="1">asd</button></td>
                    <td><button id="2">asd</button></td>
                    <td><button id="3">asd</button></td>
                </tr>
                <tr>
                    <td><button id="4">asd</button></td>
                    <td><button id="5">asd</button></td>
                    <td><button id="6">asd</button></td>
                    <td><button id="7">asd</button></td>
                </tr>
                <tr>
                    <td><button id="8">asd</button></td>
                    <td><button id="9">asd</button></td>
                    <td><button id="10">asd</button></td>
                    <td><button id="11">asd</button></td>
                </tr>
                <tr>
                    <td><button id="12">asd</button></td>
                    <td><button id="13">asd</button></td>
                    <td><button id="14">asd</button></td>
                    <td><button id="15">asd</button></td>
                </tr>
            </table>

        </section>

        <section class="stats"></section>
        
    </main>
    
    <%- include("../partials/footer.ejs")  %>

    <script src="/scripts/script.js"></script>
</body>
</html>