<%- include('../partials/head.ejs')  %>

<body>

    <%- include("../partials/header.ejs")  %>

    <main>
        
        <section class="game">

            <table>
                <tr>
                    <td><button id="0" class="btn"></button></td>
                    <td><button id="1" class="btn"></button></td>
                    <td><button id="2" class="btn"></button></td>
                    <td><button id="3" class="btn"></button></td>
                </tr>
                <tr>
                    <td><button id="4" class="btn"></button></td>
                    <td><button id="5" class="btn"></button></td>
                    <td><button id="6" class="btn"></button></td>
                    <td><button id="7" class="btn"></button></td>
                </tr>
                <tr>
                    <td><button id="8" class="btn"></button></td>
                    <td><button id="9" class="btn"></button></td>
                    <td><button id="10" class="btn"></button></td>
                    <td><button id="11" class="btn"></button></td>
                </tr>
                <tr>
                    <td><button id="12" class="btn"></button></td>
                    <td><button id="13" class="btn"></button></td>
                    <td><button id="14" class="btn"></button></td>
                    <td><button id="15" class="btn"></button></td>
                </tr>
            </table>
        </section>

        <section class="stats">
            <h2 class="info hits">Hits: 0</h2>
            <h2 class="info time">Time: 30 seg</h2>
            <h2 class="info moves">Moves: 0</h2>            
        </section>
        
    </main>
    
    <%- include("../partials/footer.ejs")  %>

    <script src="/scripts/script.js"></script>
</body>
</html>